{% extends 'base.html.twig' %}

{% set title = 'courses.title'|trans({'%class%': class.code|trans|raw }) %}

{% block title %}
	{{ title|striptags }}
{% endblock %}

{% block main %}
	<section id="class" class="class section-bg mb-10">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3{{ locale() == 'ar' ? ' class="text-right"' : '' }}>
						<b>{{ 'courses.class'|trans }} :</b>
						<span class="badge badge-secondary">{{ class.code|trans|raw }}</span>
					</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								{% if courses is not empty %}
									{% for subject, courses_by_subject in courses %}
										{% set subject_id = subject|replace({'.': '-'}) %}
										<div class="panel panel-default custom-panel">
											<div class="panel-heading {{ locale() }}" role="tab" id="heading{{ subject_id }}">
												<div class="title px-3 text-{{ locale() == 'fr' ? 'left' : 'right' }}" data-role="title" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ subject_id }}" aria-expanded="false" aria-controls="collapse{{ subject_id }}">
													<strong>{{ subject|trans }}</strong>
												</div>
											</div>
											<div id="collapse{{ subject_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ subject_id }}">
												<div class="panel-body">
													{% if courses_by_subject is not empty %}
														<table class="table{{ locale() == 'ar' ? ' text-right' : '' }}">
															<thead>
																<tr>
																	<th scope="col">{{ 'courses.intitule'|trans }}</th>
																	<th scope="col"></th>
																	<th scope="col"><i class="far fa-clock single-course-link"></i> 
																	{{ 'courses.dateDiff'|trans }}</th>
																</tr>
															</thead>
															<tbody>
																{% for course in courses_by_subject %}
																	<tr>
																		<th scope="row">
																			<i class="icofont-check-circled single-course-link"></i>
																			{{ course.title }}</th>
																		<td>
																			<a href="{{ path('course_show', {id: course.id}) }}">
																				<i class="icofont-play-alt-2"></i>
																				<span class="single-course-link"> {{ 'courses.watch'|trans }}
																				</span></a>
																		</td>
																		<td>{{ course.publishedAt|localizeddate('short', 'none', null) }}</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>
													{% else %}
														<p class="alert alert-info{{ locale() == 'ar' ? ' text-right' : '' }}">{{ 'courses.empty_section'|trans }}</p>
													{% endif %}
												</div>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p class="alert alert-info">Aucun cours n'est actuellement disponible.</p>
								{% endif %}
							</div>

						</div>


					</div>
					<!--.col -->
				</div>

			</div>
		</section>
{% endblock %}
