{% extends 'base.html.twig' %}


{% block title %}
	{{ course.title }}
{% endblock %}

{% block main %}
	<section id="class" class="class section-bg mb-10">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3{{ locale() == 'ar' ? ' class="text-right"' : '' }}>
						<b>{{ course.title }}</b>
					</h3>
					<p{{ locale() == 'ar' ? ' class="text-right"' : '' }}><i class="far fa-clock"></i> {{ course.publishedAt|localizeddate('full', 'none', null)|capitalize }}</p>
					{% if course.startTime %}
						<div class="alert alert-primary {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}" role="alert">
							<i class="icofont-info-circle"></i>
							{{ 'course.start_time_notice'|trans({
								'%subject%': course.subject|trans,
								'%time%': course.startTime|date('i:s')
								})|raw
							}}
						</div>
					{% endif %}
					<hr>
					<div class="vid">
						<iframe src="{{ course.videoUrl|replace({'watch?v=': 'embed/'}) }}" style="overflow:hidden;height:100%;width:100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<!--./vid -->
				</div>
				<!--.col -->
			</div>

		</div>
	</section>
	<!-- End Classes Section -->
	<p class="text-center btn-box">
		<a href="{{ path('course_index',  {name: course.class.name}) }}" class="btn-return"> {{ 'course.back'|trans }}</a>
	</p>
{% endblock %}
