{% extends 'admin/base.html.twig' %}

{% block title %}Voir | Informations
{% endblock %}

{% block left_sidebar %}
	{% include 'admin/common/left-sidebar.twig' with { active: 'info-list' } %}
{% endblock %}

{% block main %}

    <h1>Info</h1>

    <table class="table table-responsive table-striped">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ info.title }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ info.link }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ info.filename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_info_edit', {'id': info.id}) }}" class="btn btn-success">Modifier</a>

    {{ include('admin/info/_delete_form.html.twig') }}

    <a class="my-3 btn btn-info" href="{{ path('admin_info') }}"><i class="lnr lnr-arrow-left fa-lg"></i> Retourner a la liste</a>
{% endblock %}
