{% extends 'base.html.twig' %}

{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% block main %}
<div class="col-md-5 col-sm-10 mx-auto">
    {{ form_start(registrationForm, {attr: {class: 'logregform'}}) }}
	<h1 class="h3 mb-3 text-center font-weight-normal">{{ 'register.title'|trans }}</h1>
	<label for="inputEmail">{{ 'register.username'|trans }}</label>
    {{ form_widget(registrationForm.username, {attr: {class: 'form-control mb-3'}}) }}
	<label for="inputPassword">{{ 'register.password'|trans }}</label>
	{{ form_widget(registrationForm.plainPassword.first, {attr: {class: 'form-control mb-3'}}) }}
	<label for="inputPassword">{{ 'register.password_confirm'|trans }}</label>
    {{ form_widget(registrationForm.plainPassword.second, {attr: {class: 'form-control mb-3'}}) }}
	<div class="checkbox mb-3">
	  <label>
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ 'register.agree'|trans }}
	  </label>
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	<button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'register.sign_up'|trans }}</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}