{{ form_start(form) }}
    <div class="col-sm-12 mb-3">
        <label for="">Jour</label>
        {{ form_widget(form.day, {'attr': {'class': 'custom-select input-lg'}}) }}
    </div>

    <div class="col-sm-12 mb-3">
        <label for="">Classe</label>
        {{ form_widget(form.classes, {'attr': {'class': 'custom-select input-lg'}}) }}
    </div>

    <div class="col-sm-12 mb-2">
        {{ form_row(form.subjects) }}
    </div>

    <div class="col-sm-12">
        <button class="btn btn-success btn-lg"><i class="lnr lnr-checkmark-circle"></i> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
