{% extends 'base.html.twig' %}

{% block title %}
	{{ App.name }}
	&ndash;
	{{ 'app.title'|trans }}
{% endblock %}

{% block main %}
	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="container-fluid m-0">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}" data-aos="fade-right">
					<h2>
						{{ 'hero.about'|trans({'%app_name%': App.name|upper}) }}
					</h2>
					<a href="#class" class="btn-get-started scrollto text-center">{{ 'hero.courses'|trans}}</a>
					<a href="" data-toggle="modal" data-target="#schedule" class="btn-get-started scrollto text-center">
						{{ 'hero.planning'|trans|raw }}
					</a>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
					<img src="{{ asset('assets/img/hero.svg') }}" class="img-fluid" alt=""/>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->

	<main
		id="main">
		<!-- ======= Classes Section ======= -->
		<section id="class" class="class section-bg">
			<div class="container">
				<div class="section-title">
					<h2 data-aos="fade-in">
						{{ 'home.chooseClass'|trans}}
					</h2>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div
							class="row">
							<!-- Class item -->
							<a href="{{ path('course_index', {name: '6af'}) }}" class="col-md-4">
								<div class="info-box mt-4">
									<div class="circle-badge">
										<strong>6<sup>eme</sup>
											AF</strong>
									</div>
									<h3>
										{{ 'home.6af'|trans|raw}}
									</h3>
								</div>
							</a>
							<!-- End of class item -->

							<!-- Class item -->
							<a href="{{ path('course_index', {name: '4as'}) }}" class="col-md-4">
								<div class="info-box mt-4">
									<div class="circle-badge">
										<strong>4<sup>eme</sup>
											AS</strong>
									</div>
									<h3>
										{{ 'home.4as'|trans|raw}}
									</h3>
								</div>
							</a>
							<!-- End of class item -->

							<!-- Class item -->
							<a href="{{ path('course_index', {name: 'terminaleC'}) }}" class="col-md-4">
								<div class="info-box mt-4">
									<div class="circle-badge">
										<strong>7<sup>eme</sup>
											C</strong>
									</div>
									<h3>
										{{ 'class.terminaleC'|trans|raw}}
									</h3>
								</div>
							</a>
							<!-- End of class item -->

							<!-- Class item -->
							<a href="{{ path('course_index', {name: 'terminaleD'}) }}" class="col-md-4">
								<div class="info-box mt-4">
									<div class="circle-badge">
										<strong>7<sup>eme</sup>
											D</strong>
									</div>
									<h3>
										{{ 'class.terminaleD'|trans|raw}}
									</h3>
								</div>
							</a>
							<!-- End of class item -->

							<!-- Class item -->
							<a href="{{ path('course_index', {name: 'terminaleLM'}) }}" class="col-md-4">
								<div class="info-box mt-4">
									<div class="circle-badge">
										<strong>7<sup>eme</sup>
											LM</strong>
									</div>
									<h3>
										{{ 'class.terminaleLM'|trans|raw}}
									</h3>
								</div>
							</a>
							<!-- End of class item -->

							<!-- Class item -->
							<a href="{{ path('course_index', {name: 'terminaleLO'}) }}" class="col-md-4">
								<div class="info-box mt-4">
									<div class="circle-badge">
										<strong>7<sup>eme</sup>
											LO</strong>
									</div>
									<h3>
										{{ 'class.terminaleLO'|trans|raw}}
									</h3>
								</div>
							</a>
							<!-- End of class item -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Classes Section -->

		{# News CTA #}

	<div class="container">
	
    <div class="space">	
    <div class="row">
	     <a href="http://www.sante.gov.mr/?lang=fr" target="_blank">
	    <div class="col-md-8">
	        <img src="{{ asset('images/msante.png') }}" alt="COVID-19" width="700px">
	        
	    </div>
		</a>

	    <div class="col-md-4">
		<a href="{{ path('news_index') }}">
	        <div class="widget widget-call-to-action well-secondary">
                            <h4 class="widget-title">{{ 'news.title'|trans}}</h4>
                                <p class="text-white">{{ 'news.description'|trans}}</p>
                    </div>
	        </a>
	    </div>
	</div></div>
</div>

{# End of news CTA #}


		<!-- ======= Plateforms Section ======= -->

		{% include "common/resource.html.twig" %}

		<!-- End Plateforms Section -->


	</main>
	<!-- End #main -->
{% endblock %}
