{% extends 'base.html.twig' %}

{% block title %}
	{{ 'library.title'|trans|capitalize }}
	&ndash;
	{{ App.name }}
{% endblock %}

{% block main %}

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="container-fluid m-0">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}" data-aos="fade-right">
					<img src="{{ asset('assets/img/news.svg') }}" class="img-fluid" alt=""/>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
					<h1>{{ 'news.title'|trans }}</h1>
					<h2>
						{{ 'news.description'|trans }}
					</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->

	{# News section #}
	<div class="container news">
    <div class="row">
        <div class="col-md-12">
            <ul class="cbp_tmtimeline {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}">

                {# Info Item #}
                <li>
                    <time class="cbp_tmtime" datetime="2017-10-22T12:13"><span>Samedi 04 Avril 2020</span> <span>23:40</span></time>
                    <div class="cbp_tmicon bg-blush"><i class="icofont-newspaper"></i></div>
                    <div class="cbp_tmlabel">
                        <h2>
                            Prolongation de la fermeture des écoles jusqu'au 30 Avril 2020
                        </h2>
                        <img src="https://z-p3-scontent.fnkc1-1.fna.fbcdn.net/v/t1.0-9/s960x960/92668798_555862981721507_8527250252984483840_o.jpg?_nc_cat=106&_nc_sid=8024bb&_nc_eui2=AeGN3o8AzGP5ArAmYfbGpvdrLj3FDMeMlDMuPcUMx4yUM22YqPmMS3pFi7t9M_gtKB9mbOeMim8cPrbFXlo2HXZ2&_nc_ohc=EFLhbHJzRnUAX-_EJeB&_nc_ht=z-p3-scontent.fnkc1-1.fna&_nc_tp=7&oh=5b669f312997987c6d86690d95eecaeb&oe=5EADD06E" class="img-responsive" width="400px">
                        <hr>
                           <span class="badge badge-secondary"><i class="icofont-eye-alt"></i> &nbsp; 123</span>
                           <span class="badge badge-success">
                           <a href="">
                           <i class="icofont-external-link"></i> &nbsp; 
                            En savoir plus
                            </a>
                           </span>
                                                   
                    </div>
                </li>
                {# End of info item #}

               

                

                
                
            </ul>  
        </div>
    </div>
</div>
<hr>


{% endblock %}
