{% set lang = 'en' %}

{% set search_terms = app.request.query.get('terms', '') %}
{% set search_type = app.request.query.get('type', '') %}

<!doctype html>
<html lang="fr">
<head>
    <title>
        {% block title %}
        Administration | {{ App.name }}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{{ asset('admin/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/vendor/linearicons/style.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/vendor/chartist/css/chartist-custom.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/css/bootstrap-datetimepicker.min.css" integrity="sha256-Fl1s8EQCc9mKf/njo8mWr0MPJR8TnOQb0h0rmVKRoP8=" crossorigin="anonymous" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('admin/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/app.css') }}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
</head>

<body>
    {% block body %}
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="{{ path('index') }}" class="logo" target="_blank">
                    {# <img class="logo" src="{{ asset('images/logo/logo.png') }}" alt="logo"> #}
                    <div class="logo"><span class="last">{{ App.name }}</span></div>
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn py-0">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        {# <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Aide</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('admin_basic_usage') }}"><i class="lnr lnr-graduation-hat"></i> <span>Utilisation de base</span></a></li>
                                <li><a href="{{ path('admin_security') }}"><i class="lnr lnr-lock"></i> <span>Securité</span></a></li>
                                <li><a href="{{ path('admin_troubleshooting') }}"><i class="lnr lnr-cog"></i> <span>Dépannage</span></a></li>
                            </ul>
                        </li> #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle pt-4 pb-0" data-toggle="dropdown"><i class="lnr lnr-user"></i> <span>{{ app.user.username ?? 'demo' }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu mt-3">
                                <li><a href="{{ path('admin_user_show', {user: app.user.id}) }}"><i class="lnr lnr-user"></i> <span>Mon profil</span></a></li>
                                <li><a href="{{ path('admin_user_password_edit') }}"><i class="lnr lnr-lock"></i> <span>Changer de mot de passe</span></a></li>
                                <li><a href="{{ path('app_logout') }}"><i class="lnr lnr-exit"></i> <span>Deconnexion</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        {% block left_sidebar %}

        {% endblock %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                  {% block main %}
                  {% endblock %}
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>

        {% include 'common/flash_messages.html.twig' %}

        <!-- END MAIN -->
        <div class="clearfix"></div>
    </div>
    <!-- END WRAPPER -->
    {% endblock %}
    {% block javascript %}
        <!-- Javascript -->
        <script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="{{ asset('admin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('admin/vendor/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('admin/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('admin/vendor/chartist/js/chartist.min.js') }}"></script>
        <script src="{{ asset('admin/scripts/klorofil-common.js') }}"></script>
        <script src="{{ asset('admin/vendor/toastr/toastr.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js" integrity="sha256-D0tqyrTQHDExvGYoi+kyInjV47fm30M5qq4whUrMuuE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js" integrity="sha256-sU6nRhzXDAC31Wdrirz7X2A2rSRWj10WnP9CA3vpYKw=" crossorigin="anonymous"></script>
        <script src="{{ asset('admin/js/app.js') }}"></script>
    {% endblock %}
</body>

</html>
