{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}

{% include 'admin/common/left-sidebar.twig' with { active: 'index' } %}

{% endblock %}

{% block main %}
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Vue d'ensemble</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="metric">
                    <span class="icon"><i class="lnr lnr-users"></i></span>
                    <p>
                        <span class="number">{{ data.users }}</span>
                        <span class="title"><a href="{{ path('admin_users') }}">Utilisateurs</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="metric">
                    <span class="icon"><i class="lnr lnr-camera-video"></i></span>
                    <p>
                        <span class="number">{{ data.courses }}</span>
                        <span class="title"><a href="{{ path('admin_courses') }}">Cours</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="metric">
                    <span class="icon"><i class="lnr lnr-calendar-full"></i></span>
                    <p>
                        <span class="number">-</span>
                        <span class="title"><a href="{{ path('admin_planning') }}">Emploi du temps</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="metric">
                    <span class="icon"><i class="lnr lnr-highlight"></i></span>
                    <p>
                        <span class="number">{{ data.resources }}</span>
                        <span class="title"><a href="{{ path('admin_resource') }}">Ressource numerique</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Cours récents</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                {{ render(controller('App\\Controller\\Admin\\CourseController::latest')) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Utilisateurs ajoutés récemment</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                {{ render(controller('App\\Controller\\Admin\\UserController::latest')) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}