{% form_theme form with ['bootstrap_4_layout.html.twig'] only %}

<div class="row">

	<div class="col-sm-6">
		{{ form_row(form.title, {'attr': {'class': 'input-lg'}}) }}
    </div>

	<div class="col-sm-6">
		{{ form_row(form.file, {'attr': {'class': 'input-lg form-control'}}) }}
    </div>

	<div class="col-sm-4">
		{{ form_row(form.subject, {'attr': {'class': 'custom-select input-lg'}}) }}
    </div>
    
	<div class="col-sm-4">
		{{ form_row(form.classe, {'attr': {'class': 'custom-select input-lg'}})|html_entity_decode|raw }}
    </div>
    
	<div class="col-sm-4">
		{{ form_row(form.category, {'attr': {'class': 'custom-select input-lg'}}) }}
	</div>
</div>

