{% extends 'admin/base.html.twig' %}

{% block title %}document{% endblock %}

{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'documents-list' } %}
{% endblock %}

{% block main %}
    <h1>document</h1>

    {% set url = document.fileUrl ?: vich_uploader_asset(document) %}
    {% set enabled = document.enabled %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ document.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ url  }}" target="_blank">{{ url }}</a></td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ document.size }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <th>{{ enabled ? 'Activé' : 'Désactivé' }}</th>
            </tr>
            <tr>
                <th></th>
                <td>
                    {% if enabled %}
                        <a class="btn btn-default" href="{{ path('admin_document_toggle_enabled', {id: document.id, enabled: 0}) }}">
                            Désactiver
                        </a>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('admin_document_toggle_enabled', {id: document.id, enabled: 1}) }}">
                            Activer
                        </a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <a class="my-3 btn btn-info" href="{{ path('admin_document_index') }}"><i class="lnr lnr-arrow-left fa-lg"></i> Back to list</a>

    <a class="btn btn-primary" href="{{ path('admin_document_edit', {'id': document.id}) }}"><i class="fa fa-edit"></i> edit</a>


    {{ include('admin/document/_delete_form.html.twig') }}
{% endblock %}
