{{ form_start(form) }}

    <div class="col-sm-12 mb-5">
        <label for="">Titre du cours</label>
        {{ form_widget(form.title, {'attr': {'class': 'form-control input-lg'}}) }}
    </div>

    <div class="col-sm-6 mb-5">
        <label for="">Classe</label>
        {{ form_widget(form.class, {'attr': {'class': 'custom-select input-lg'}})|html_entity_decode|raw }}
    </div>

    <div class="col-sm-6 mb-5">
        <label for="">Matière</label>
        {{ form_widget(form.subject, {'attr': {'class': 'custom-select input-lg'}}) }}
    </div>

    <div class="col-sm-6 mb-5">
        <label for="">URL de la vidéo</label>
        {{ form_widget(form.videoUrl, {'attr': {'class': 'form-control input-lg'}}) }}
    </div>

    <div class="col-sm-6 mb-5">
        <label for="">Source de la vidéo</label>
        {{ form_widget(form.source, {'attr': {'class': 'custom-select input-lg'}}) }}
    </div>

    <div class="col-sm-6 mb-5">
        <label>Date de publication</label>
        <div class="input-group mb-3">
            <div class="input-group-addon">
                <label class="cursor-pointer m-0 py-2 px-4" for="job_deadline"><i class="fa fa-calendar fa-lg"></i></label>
            </div>
            {{ form_widget(form.publishedAt, {attr: {class: 'form-control input-lg datetime'}}) }}
        </div>
    </div>

    <div class="col-sm-6 mb-5">
        <label>Temps de début du cours</label>
        <div class="input-group mb-3">
            <div class="input-group-addon">
                <label class="cursor-pointer m-0 py-2 px-4" for="job_deadline"><i class="fa fa-clock-o fa-lg"></i></label>
            </div>
            {{ form_widget(form.startTime, {attr: {class: 'form-control input-lg time'}}) }}
        </div>
    </div>

    <div class="col-sm-12">
        <button class="btn btn-success btn-lg"><i class="lnr lnr-checkmark-circle"></i> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
