{% extends 'admin/base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'courses-list' } %}
{% endblock %}

{% block main %}
    <h1>{{ course.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ course.class|trans|raw }}</td>
            </tr>
            <tr>
                <th>Matière</th>
                <td>{{ course.subject|trans }}</td>
            </tr>
            <tr>
                <th>VideoUrl</th>
                <td>{{ course.videoUrl }}</td>
            </tr>
            <tr>
                <th>Publication date</th>
                <td>{{ course.publishedAt|localizeddate('full', 'short', null)|capitalize }}</td>
            </tr>
            <tr>
                <th>Start time</th>
                <td>{{ course.startTime ? course.startTime|localizeddate('none', 'short', null)|capitalize : '0:0' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="my-3 btn btn-info" href="{{ path('admin_courses') }}"><i class="lnr lnr-arrow-left fa-lg"></i> back to list</a>

    <a class="btn btn-primary" href="{{ path('admin_course_edit', {'id': course.id}) }}"><i class="fa fa-edit"></i> edit</a>

    {{ include('admin/course/_delete_form.html.twig') }}
{% endblock %}
