{% extends 'base.html.twig' %}

{% block title %}
	{{ 'news.main_title'|trans }}
	&ndash;
	{{ App.name }}
{% endblock %}

{% block main %}

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="container-fluid m-0">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}" data-aos="fade-right">
					<img src="{{ asset('assets/img/news.svg') }}" class="img-fluid" alt=""/>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
					<h1>{{ 'news.title'|trans }}</h1>
					<h2>
						{{ 'news.description'|trans }}
					</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->

	{# News section #}
	<div class="container news">
		<div class="row">
			<div class="col-md-12">
				<ul
					class="cbp_tmtimeline {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}">

					{% for article in articles %}
					{# Info Item #}
					<li>
						<time class="cbp_tmtime float-left" datetime="{{ article.createdAt|localizeddate('full', 'full', null) }}">
							<span>{{ article.createdAt|localizeddate('full', 'none')|capitalize }}</span>
							<span>{{ article.createdat|localizeddate('none', 'short') }}</span>
						</time>
						<div class="cbp_tmicon bg-blush">
							<i class="icofont-newspaper"></i>
						</div>
						<div class="cbp_tmlabel">
							<h2>{{ article.translatedTitle(locale()) }}</h2>
							{% if article.filename %}
								<img src="{{ vich_uploader_asset(article) }}" class="img-responsive" width="400px">
							{% endif %}
							<hr>
							{# <span class="badge badge-secondary">
								<i class="icofont-eye-alt"></i>
								&nbsp; 123</span> #}
							<span class="btn btn-success">
								<a href="{{ article.link }}" target="_blank">
									<i class="icofont-eye-alt"></i>
                                    &nbsp; 
                                    {{ 'news.more'|trans }}
								</a>
							</span>

						</div>
					</li>
					{# End of info item #}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<hr>


{% endblock %}

