<!-- ======= Diffusion Section ======= -->
      <div class="section-title">
        <h2 data-aos="fade-in">
          {{ 'diffusion.title'|trans}}
        </h2>
         <p data-aos="fade-in">
             {{ 'diffusion.description'|trans|raw}}
          </p>
      </div>

      <section id="diffusion" class="diffusion section-bg">
        <div class="container">
          <div class="row no-gutters diffusion-wrap clearfix wow fadeInUp">
            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <img src="{{ asset('assets/img/diffusion/tvm.png') }}"
                  class="img-fluid"
                  alt=""
                  data-aos="flip-right" />
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://www.youtube.com/channel/UCgsuntcLcQgc23yAPMVBzCQ">
                  <img src="{{ asset('assets/img/diffusion/bellwarmedia.png') }}"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="100" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://www.youtube.com/channel/UC6w48pmLqpVrvFBdv0nKzkg">
                  <img src="{{ asset('assets/img/diffusion/tawatur.jpg') }}"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="200" />
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
              <div class="diff-logo">
                <a href="https://web.facebook.com/vision.mr/">
                  <img src="{{ asset('assets/img/diffusion/vision.png') }}"
                    class="img-fluid"
                    alt=""
                    data-aos="flip-right"
                    data-aos-delay="300" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End diffusion Section -->