{% from "util/widgets.html.twig" import displayLocales %}

<!-- Language Changer -->
{% set localeTags %}
{% for l in locales() %}
	{% if l.code != locale() %}
		<li class="get-started">
			<a class="get-started" href="{{ path(app.request.get('_route', 'index'), app.request.get('_route_params', [])|merge({_locale: l.code})) }}">
				<i class="fa fa-language"></i>
				{{ l.name|capitalize }}</a>
		</li>
	{% endif %}
{% endfor %}
{% endset %}
<!-- ======= Header ======= -->
<header id="header">
	<div class="container d-flex">
		<div class="logo {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar' }}">
			<h1 class="text-light">
				<img src="{{ asset('assets/img/logo.png') }}" alt="Courat Logo" height="100">
				<a href="{{ path('index') }}">{{ App.name }}<span></span>
				</a>
			</h1>
		</div>
		<nav class="nav-menu d-none d-lg-block">
			<ul class="d-flex flex-wrap">
				<li>
					<a href="{{ path('index') }}">{{ 'app.index'|trans|upper }}</a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#schedule">{{ 'class.planning'|trans|raw }}</a>
				</li>
				<li>
					<a href="{{ path('course_index', {name: '6af'}) }}">{{ 'class.6af'|trans|raw }}</a>
				</li>
				<li>
					<a href="{{ path('course_index', {name: '4as'}) }}">{{ 'class.4as'|trans|raw }}</a>
				</li>
				<li class="drop-down">
					<a href="">{{ 'class.terminale'|trans|upper }}</a>
					<ul {% if locale() == 'ar' %}class="text-right"{% endif %}>
						<li><a href="{{ path('course_index', {name: 'terminaleC'}) }}">{{ 'class.terminaleC'|trans }}</a></li>
						<li><a href="{{ path('course_index', {name: 'terminaleD'}) }}">{{ 'class.terminaleD'|trans }}</a></li>
						<li><a href="{{ path('course_index', {name: 'terminaleLM'}) }}">{{ 'class.terminaleLM'|trans }}</a></li>
						<li><a href="{{ path('course_index', {name: 'terminaleLO'}) }}">{{ 'class.terminaleLO'|trans }}</a></li>
					</ul>
				</li>
				<li>
					<a href="{{ path('library') }}">{{ 'library.btn'|trans }}</a>
				</li>
				{{ localeTags }}
			</ul>
		</nav>
		<!-- .nav-menu -->
	</div>
</header>
<!-- End Header -->
