{% from "util/widgets.html.twig" import displayLocales %}

<div class="px-md-5 d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <div class="d-flex my-0 mr-md-auto justify-content-between align-items-center">
        <a class="mr-3" href="{{ path('index') }}">
            <img src="{{ asset('images/logo.png') }}" height="50" alt="">
        </a>
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark text-decoration-none" href="{{ path('section', {level: 'primaire'}) }}">{{ 'primaire'|trans }}</a>
        <a class="p-2 text-dark text-decoration-none" href="{{ path('section', {level: 'college'}) }}">{{ 'college'|trans }}</a>
        <a class="p-2 text-dark text-decoration-none" href="{{ path('section', {level: 'lycee'}) }}">{{ 'lycee'|trans }}</a>
        <a class="p-2 text-dark text-decoration-none" href="{{ path('section', {level: 'terminale'}) }}">{{ 'terminale'|trans }}</a>
    </nav>
    <div class="d-flex justify-content-between">
        {{ displayLocales() }}
        {# % if is_granted('ROLE_USER') %}
            <a class="btn btn-outline-primary" href="{{ path('app_logout') }}"><i class="fa fa-sign-out-alt"></i> Déconnexion</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{{ path('app_register') }}"><i class="fa fa-user-plus"></i> Créer un compte</a>
            <a class="btn btn-outline-primary ml-2" href="{{ path('app_login') }}"><i class="fa fa-sign-in-alt"></i> Connexion</a>
        {% endif % #}
    </div>
</div>