<!-- Schedule Modal -->
<div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="schedule" aria-hidden="true">
	<div class="modal-center">
		<div class="modal-dialog .modal-align-center modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						{{ 'planning.title'|trans }}
					</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home">6<sup>eme<sup>
											AF</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#menu1">4<sup>eme<sup>
													AS</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#menu2">7C</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#menu3">7D</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#menu4">7LO</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#menu5">7LM</a>
											</li>
										</ul>

										<!-- Tab panes -->
										<div
											class="tab-content {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}">
											{# 6AF Class planning #}
											<div id="home" class="container tab-pane active"><br>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.lun'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
													-
													{{ 'planning.fr'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mar'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
													-
													{{ 'planning.fr'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
													-
													{{ 'planning.ir'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mer'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
													-
													{{ 'planning.ir'|trans }}
												</p>
											</div>
											{# End of class planning #}

											{# 4AS Class planning #}
											<div id="menu1" class="container tab-pane active {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}"><br>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.lun'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.fr'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mar'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mer'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.jeu'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.fr'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.ven'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.fr'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.sam'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.dim'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.fr'|trans }}
												</p>

											</div>
											{# End of class planning #}

											{# 7C Class planning #}
											<div id="menu2" class="container tab-pane active {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}"><br>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mar'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
													-
													{{ 'planning.sn'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mer'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
													-
													{{ 'planning.sn'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.jeu'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.ven'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
													-
													{{ 'planning.sn'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.sam'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
													-
													{{ 'planning.sn'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.dim'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
												</p>

											</div>
											{# End of class planning #}

											{# 7D Class planning #}
											<div id="menu3" class="container tab-pane active {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}"><br>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.lun'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mar'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.sn'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mer'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.sn'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.jeu'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
													-
													{{ 'planning.math'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.ven'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
													-
													{{ 'planning.math'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.sam'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
													-
													{{ 'planning.sn'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.dim'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pc'|trans }}
													-
													{{ 'planning.sn'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.math'|trans }}
												</p>

											</div>
											{# End of class planning #}

											{# 7LO Class planning #}
											<div id="menu4" class="container tab-pane active {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}"><br>
                      <h1>LO</h1>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.lun'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'pens.isl'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mar'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.mer'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.droit-m'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.jeu'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.droit-m'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.ven'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.ar'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pens-isl'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.sam'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.pens-isl'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.droit-m'|trans }}
												</p>
												<hr>
												<h3>
													<b>
														<span class="badge badge-secondary">{{ 'planning.dim'|trans }}</span>
													</b>
												</h3>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.11pm'|trans }}
													({{ 'planning.rediff'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'planning.droit-m'|trans }}
												</p>
												<p>
													<i class="icofont-clock-time"></i>
													<b>{{ 'planning.hour'|trans }}
														:</b>
													{{ 'planning.5pm'|trans }}
													({{ 'planning.direct'|trans }})
													<br>
													<i class="icofont-book-alt"></i>
													<b>{{ 'planning.field'|trans }}
														:</b>
													{{ 'pens.isl'|trans }}
												</p>

											</div>
											{# End of class planning #}
										</div>
									</li>
								</div>
							</li>
						</div>
						<div class="modal-footer {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}">
							<small>
								<i class="icofont-info-circle"></i>
								{{ 'planning.change'|trans }}
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Schedule Modal -->
