<section id="plateform" class="plateform section-bg">
			<div class="container">
				<div class="section-title">
					<h2 data-aos="fade-in">
						{{ 'platforms.title'|trans}}
					</h2>
					<p data-aos="fade-in">
						{{ 'platforms.description'|trans}}
					</p>
				</div>
				<div class="row plateform-container" data-aos="fade-up">
					{% for resource in resources %}
						<div class="col-lg-4 col-md-6 plateform-item">
							<div class="plateform-wrap">
								
								<img src=
									{% if resource.filename %}
										{{ vich_uploader_asset(resource, 'imageFile') }}
									{% endif %} class="img-fluid" alt=""
								/>
								
								<div class="plateform-links">
									<a target="_blank" href={{resource.link}}>
										<i class="icofont-eye"></i>
										{{ 'platforms.visit'|trans}}
									</a>
									<div class="plateform-info">
										<h4>
											{{resource.title}}
										</h4>
									</div>
									<p>
										{{resource.subtitle|upper}}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>