{% extends 'admin/base.html.twig' %}

{% block title %}Ressources numeriques
{% endblock %}

{% block left_sidebar %}
	{% include 'admin/common/left-sidebar.twig' with { active: 'resource-list' } %}
{% endblock %}

{% block main %}

    <h1>Resource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ resource.title }}</td>
            </tr>
            <tr>
                <th>Sous-titre</th>
                <td>{{ resource.subtitle }}</td>
            </tr>
            <tr>
                <th>Sous-titre</th>
                <td>{{ resource.subtitleAR }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ resource.link }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src=
                        {% if resource.filename %}
                            {{ vich_uploader_asset(resource, 'imageFile') }}
                        {% endif %} class="img-fluid" alt=""
                        style="width: 100%; height: 100%"
                    />
                </td>
            </tr>
        </tbody>
    </table>
    <a class="my-3 btn btn-success" href="{{ path('admin_resource_edit', {'id': resource.id}) }}"><i class="lnr lnr-pencil fa-lg"></i> Editer</a>

    {{ include('admin/resource/_delete_form.html.twig') }}

    <a class="my-3 btn btn-info" href="{{ path('admin_resource') }}"><i class="lnr lnr-arrow-left fa-lg"></i> Retourner a la liste</a>

{% endblock %}
