<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th>Size</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.url }}</td>
            <td>{{ article.size }}</td>
            <td>
                <a href="{{ path('admin_article_show', {'id': article.id}) }}">show</a>
                <a href="{{ path('admin_article_edit', {'id': article.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>