{% extends 'base.html.twig' %}

{% block title %}
	{{ 'library.title'|trans|capitalize }}
	&ndash;
	{{ App.name }}
{% endblock %}

{% block main %}

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="container-fluid m-0">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}" data-aos="fade-right">
					<img src="{{ asset('assets/img/read.svg') }}" class="img-fluid" alt=""/>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
					<h1>{{ 'library.title'|trans }}</h1>
					<h2>
						{{ 'library.description'|trans }}
					</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->

	<!-- ======= Library Section ======= -->
	<section id="class" class="class section-bg">
		<div class="container">
			<div class="row">
				<div class="mx-auto mb-4">
					<form action="{{ path('library_documents_filter') }}" method="get" id="filter-form">
						<select name="subject" id="subject" class="my-select">
							<option value="" selected>{{ 'library.subject'|trans }}</option>
							{% for subject in subjects %}
								<option value="{{ subject.id }}">{{ subject|trans }}</option>
							{% endfor %}
						</select>

						
						<select name="classe" id="classe" class="my-select">
							<option value="" selected>{{ 'library.class'|trans }}</option>
							{% for classe in classes %}
								<option value="{{ classe.id }}">{{ classe|trans|raw }}</option>
							{% endfor %}
						</select>
						<select name="category" id="category" class="my-select">
							<option value="" selected>{{ 'library.category'|trans }}</option>
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category|trans }}</option>
							{% endfor %}
						</select>
        
					</form>
				</div>
			</div>
			
			<div class="row" id="results">
				<div class="col-md-12 loading-container mt-5" style="display: none;">
					<div class="spinner mx-auto my-auto"></div>
				</div>
				<div class="col-lg-12 items">
					{% include "library/_documents.html.twig" with {documents: documents} %}
				</div>
			</div>
		</div>
	</section>
	<!-- End Library Section -->

	<!-- Submit -->
	<section id="plateform" class="plateform">
		<div class="container">
			<div class="section-title">
				<h2 data-aos="fade-in">
					{# {{ 'library.post-title'|trans }} #}
				</h2>
				<p data-aos="fade-in">
					{{ 'library.post-description'|trans }}
				</p>
			</div>

			<p class="text-center">
				<a href="{{ path('library_upload') }}" class="btn-return text-center">
					<i class="icofont-ebook"></i>
					&nbsp;
					{{ 'library.post-title'|trans }}
				</a>
			</p>
		</div>
	</section>
	<!-- End Submit -->

    <hr>

{% endblock %}


