{% extends 'base.html.twig' %}

{% block title %}
	{{ App.name }}
	&ndash;
	{{ 'app.title'|trans }}
{% endblock %}

{% block main %}

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="container-fluid m-0">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1 {{ locale() == 'fr' ? 'mr-auto' : 'ml-auto ar text-right' }}" data-aos="fade-right">
					<img src="{{ asset('assets/img/read.svg') }}" class="img-fluid" alt=""/>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
					<h1>{{ 'library.title'|trans }}</h1>
					<h2>
						{{ 'library.description'|trans }}
					</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->





<section id="plateform" class="plateform section-bg">
<div class="container">
	<div class="section-title">
		<h2 data-aos="fade-in">
			{{ 'library.post-title'|trans }}
		</h2>
	</div>
    {# Partie Upload #}

   
    


</div></div></section><!-- End Submit -->
{# {% endblock %}{% block diffusion %} #}
{% endblock %}
